VITE_FIREBASE_API_KEY=AIzaSyBNNSRE2_nMFegDv79zOSprn-vsyx8X2Sg
VITE_FIREBASE_AUTH_DOMAIN=bitblock-d8758.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bitblock-d8758
VITE_FIREBASE_STORAGE_BUCKET=bitblock-d8758.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=409440684176
VITE_FIREBASE_APP_ID=1:409440684176:web:3edd820e0998f8b6c53015
VITE_FIREBASE_MEASUREMENT_ID=G-E346HHTRSX
VITE_COMPILER_URL=/.netlify/functions/compile-firmware
